body {
    /*overflow-x: hidden;*/
    font-family: sans-serif;
    margin:0;
    padding:0;
}

body.popup {
    text-align: center;
    min-width: 157px;
    text-align: center;
}

body h1 {
    font-size:18pt;
}
  img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
  }
  .ljfriends_box {
      margin:0; padding:0;
      margin-bottom: 25px;
      cursor: pointer;
  }
  .ljfriends_box p.info {
      margin:0; padding: 0;
      font-size: 24pt;
      font-weight: bold;
      line-height:110%;
  }
  .ljfriends_box h2 {
      font-size:12pt;
      background-color: navy;
      color: white;
      
  }
  .div_hidden {
      display:none;
      visibility: hidden;
  }
  #warning_container {
      text-align: center;
  }

  #footer {
      position:absolute;
      display: block;
      z-index: 5;
      bottom:100%;
      left:100%;
      text-align: center;
      height: 20px;
      font-size:12px;
      width:100%;
  }